﻿@{
    ViewData["Title"] = "About";

    int i = 10;
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Email"]</h3>

<p>Use this area to provide additional information.</p>
       